[Unit]
Description=MariaDB Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f mariadb.yml up -d
ExecStop=/usr/bin/docker-compose -f mariadb.yml stop

[Install]
WantedBy=default.target